body {
    background-image: url("Mt_Rainier.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
  font-size: 400%;
  color: RGB(255, 255, 255);
  margin: 25px 300px ;
  font-family: "Megrim", cursive;
}

h2 {
  text-align: center;
}

#element{
  margin: 50px 450px;
  width:350px;
  color:white;
  text-align: left;
  font-family: "Comfortaa", cursive;
  background-color: rgba(177, 156, 249, .85);
  border:white 1px solid;
  padding:24px;
  /*filter:alpha(opacity = 85);
  -moz-opacity:.90;
  opacity:.9;*/
  border-radius: 15px;
}

#form{
  font-family: "Comfortaa", cursive;
}

ul {
  font-family: "Comfortaa", cursive;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

a {
  display: block;
  padding: 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

li a:hover {
  background-color: rgba(218, 189, 253, 0.4);
}

li a:active {
  background-color: rgba(218, 189, 253, 0.4);
}

/*
.button {
  display: inline-block;
  width: 180px;
  padding: 15px 18px;
  color: white;
  border: 1.5px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  margin: 4px 2px;
}

.button:hover,
.button:active {
  background-color: rgba(95, 126, 253, 0.4);
  border-color: rgba(95, 126, 253, 0.2);
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  color: white;
}
*/
