body {
    background-image: url("Mt_Rainier.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
  font-size: 700%;
  color: RGB(255, 255, 255);
  margin: 189px 300px ;
  font-family: "Megrim", cursive;
}

ul {
  font-family: "Comfortaa", cursive;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

a {
  display: block;
  padding: 3px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

li a:hover {
  background-color: rgba(218, 189, 253, 0.4);
}

li a:active {
  background-color: rgba(218, 189, 253, 0.4);
}


.button {
  display: inline-block;
  width: 180px;
  padding: 15px 18px;
  color: white;
  border: 1.5px solid white;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  border-radius: 20px;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
  margin: 4px 2px;
}

.button:hover,
.button:active {
  background-color: rgba(95, 126, 253, 0.4);
  border-color: rgba(95, 126, 253, 0.2);
  transition: background-color 0.3s ease-in, border-color 0.3s ease-in;
  color: white;
}


  /*background-color: rgba(182, 170, 249, 0.8);
  cursor: pointer;*/
